@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@functions{
    public string GetEventsJSON()
    {
        return "[" + String.Join(',', Model.Events.Select((e) => $"{{title: \"{e.Title}\", start: \"{e.StartDatetime.ToString("o")}\"}}")) + "]";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id='calendar' />
</div>
<script>
    window.renderCalendar(@Html.Raw(GetEventsJSON()));
</script>